/* 默认样式 */
body {
  background-color: #f0f0f0;
  font-size: 16px;
  width: 100%;
}

/* 在小屏幕（最大宽度为767px）上的样式 */
@media (max-width: 767px) {
  body {
    background-color: #fff;
    font-size: 14px;
  }

  .header {
    padding: 10px;
  }
}

/* 在中等屏幕（最小宽度768px）上的样式 */
@media (min-width: 768px) {
  body {
    background-color: #f0f0f0;
    font-size: 16px;
  }

  .header {
    padding: 20px;
  }
}

/* 在大屏幕（最小宽度1024px）上的样式 */
@media (min-width: 1024px) {
  body {
    background-color: #e0e0e0;
    font-size: 18px;
  }

  .header {
    padding: 30px;
  }
}

.topic{
    z-index: 99;
    width: 100%;
    top: 18px;
    text-align: center;
    font-size: 35px;
    color: rgb(236, 214, 204);
    position: fixed;
    margin: 0px;
}
.go-to-picture{
    z-index: 99;
    position: fixed;
    top: 18px;
    
}
.go-to-map{
    z-index: 99;
    position: fixed;
    top: 50px;
}
.top-bar{
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgb(178, 141, 125);
    position: fixed;
    z-index: 0;   
}
.side-bar{
    background-color: rgb(236, 214, 204);
    top: 80px;
    bottom: 0px;
    left: 0px;
    width: 60px;
    position: fixed;
}
.first{
    font-family: 'Yuji Mai';
    font-size: larger;
    display: block;
    margin-left: 60px;
    margin-top: 100px;
    background-color: azure;
    text-align: center;
    z-index: -50;
    position: relative;
}

.hr1 {
    margin: 10px 0 12px 0;
    height: 4px;
    border: 0;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}
.introduction{
    width: 100%;
}
.introduction-picture{
    display: inline-block;
    margin-left: 75px;
    vertical-align: top;
}

.introduction-paragraph{
    display: inline-block;
    font-size: x-large;
    margin-left: 75px;
}


.video1{
    width: 70%;
    margin-top: 10px;
    margin-left: 65px;
    object-fit: contain;
}

.hr2{
    display: block;
    margin: 10px 0 12px 0;
    height: 4px;
    border: 0;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);   
} 