body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .container {
    max-height: 100vh; /* 设置容器的最大高度为视口高度 */
    overflow: auto; /* 允许滚动 */
  }
  
  
  .slider-container {
    max-width: 800px; /* 设置最大宽度 */
    margin: 0 auto; /* 居中显示 */
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  img {
    max-width: 100%; /* 设置图片的最大宽度，以保持原始宽高比例 */
    height: auto;
  }
  
  .prev-button,
  .next-button {
    color: white;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2; /* 添加 z-index 属性 */
  }
  
  
  .prev-button {
    left: 10px; /* 调整左侧箭头按钮的位置 */
  }
  
  .next-button {
    right: 10px; /* 调整右侧箭头按钮的位置 */
  }
  